<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889672491061-6gq4asvs2108um34i0amejjj4tgunul7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889672491061-6gq4asvs2108um34i0amejjj4tgunul7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889672491061-bui0r3h2uiim5k3sadjssspjousgps70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCdBT9XcGHMExrIsbTI6j9KzBzVHb2xdo</string>
	<key>GCM_SENDER_ID</key>
	<string>889672491061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knawnews.apps</string>
	<key>PROJECT_ID</key>
	<string>knawnews-d6dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>knawnews-d6dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889672491061:ios:b3b1ac6d3a11edfefd917c</string>
</dict>
</plist>